body{
    background: url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;

}
li:hover{
  color:white;
}

.thumbnail:hover {
    position:relative;

    width:90%;
    height:auto;
    display:block;
    z-index:999;
}

header{
    width: 80%;
    margin: auto;
    overflow: hidden;
     background: rgba(0, 0, 0, 0.3);
padding: 0px;
}

.head{
    float: left;
    color: #fff;
    font-family: cursive;

}

nav{
    float: right;
}

li{
    display: inline;
    padding: 1rem;
}

li a{
    color: #fff;
    text-decoration-color: none;
    font-weight: bold;
}

.active{
    color: gold;
}

.container{
    width: 70%;
    margin: auto;
    overflow: hodden;
    margin-top: 1%;
}

showcase h1{
    color: #fff;
    font-family: cursive;
    text-align: center;

}

showcase h3{
    color: #fff;
    text-align: center;
    letter-spacing: 2px;

}


.category{
    color: #fff;
    margin-top: 5%;
    display: flex;
    text-align: center;
    font-family: cursive;

}

img{
    width: 70%;
    border-radius: 50%;

}


.snacks, .grill{
    padding-left: 1rem;
}



h4{
    font-size: 1.5rem;
    margin: 3%;

}

.btn{
    background-color: gold;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    margin-left: 45%;

}
